.SensorGraphsWrap {

  .mapBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

}

.headerTitle {
  margin-left: 8px;
}

.showAllGraphs {
  color: #00C09E !important;
  font-weight: bold;
  font-size: 16px;
  margin-right: 30px;
  cursor: pointer;
}
