.simple-dropdown {
  position: relative;
  display: flex;

  &__trigger {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
  }

  &__value {
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 9999;
  }
}