.home .home-locations .location {
  margin-bottom: 30px; }
  .home .home-locations .location .location-title {
    display: flex;
    align-items: center;
    margin-bottom: 10px; }
    .home .home-locations .location .location-title h2 {
      font-weight: bold;
      font-size: 18px;
      line-height: 24px; }
    .home .home-locations .location .location-title a {
      margin-left: 5px;
      font-size: 10px; }
  .home .home-locations .location .tabs {
    display: flex;
    flex-wrap: wrap; }
    .home .home-locations .location .tabs .no-published-schema {
      font-size: 14px; }
    .home .home-locations .location .tabs .tab {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 15px;
      width: 100px;
      margin-bottom: 20px; }
      .home .home-locations .location .tabs .tab-block {
        height: 50px;
        width: 50px;
        background-color: #025230; }
      .home .home-locations .location .tabs .tab-name {
        font-size: 13px;
        margin-top: 3px;
        text-align: center; }
      .home .home-locations .location .tabs .tab.warning {
        color: #F6A20A; }
        .home .home-locations .location .tabs .tab.warning .tab-block {
          background-color: #F6A20A; }
      .home .home-locations .location .tabs .tab.alarm {
        color: #ff0000; }
        .home .home-locations .location .tabs .tab.alarm .tab-block {
          background-color: #ff0000; }
      .home .home-locations .location .tabs .tab.add-button {
        cursor: pointer; }
        .home .home-locations .location .tabs .tab.add-button .tab-block {
          background: linear-gradient(to bottom, #ffffff, #e6e6e6);
          border: 1px solid #cccccc;
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
          border-radius: 3px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 14px; }
        .home .home-locations .location .tabs .tab.add-button .tab-name {
          color: #3a89c9; }
        .home .home-locations .location .tabs .tab.add-button:hover .tab-block {
          background: #e6e6e6; }
        .home .home-locations .location .tabs .tab.add-button:hover .tab-name {
          text-decoration: underline; }
