@import "../../styles/variables";

.home {
  .home-locations {
    .location {
      margin-bottom: 30px;

      .location-title {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        h2 {
          font-weight: bold;
          font-size: 18px;
          line-height: 24px;
        }

        a {
          margin-left: 5px;
          font-size: 10px;
        }
      }

      .tabs {
        display: flex;
        flex-wrap: wrap;

        .no-published-schema {
          font-size: 14px;
        }

        .tab {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-right: 15px;
          width: 100px;
          margin-bottom: 20px;

          &-block {
            height: 50px;
            width: 50px;
            background-color: $green;
          }

          &-name {
            font-size: 13px;
            margin-top: 3px;
            text-align: center;

          }

          &.warning {
            color: $orange;

            .tab-block {
              background-color: $orange;
            }
          }

          &.alarm {
            color: $red;

            .tab-block {
              background-color: $red;
            }
          }

          &.add-button {
            cursor: pointer;

            .tab {
              &-block {
                background: linear-gradient(to bottom, #ffffff, #e6e6e6);
                border: 1px solid #cccccc;
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
                border-radius: 3px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 14px;
              }

              &-name {
                color: $blue;
              }
            }

            &:hover {
              .tab {
                &-block {
                  background: #e6e6e6;
                }

                &-name {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }
  }
}