.confirmation-modal {
  background-color: #fff;
  border-radius: 15px;

  .body {
    max-width: 350px;
  }

  .buttons-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;

    .btn {
      &:first-child {
        margin-right: 10px;
      }
    }
  }
}