@import '../../styles/variables';

.vd-label {
  position: absolute;
  top: 0;
  left: 0;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  box-sizing: border-box;
  width: auto;
  height: auto;
  margin: 0;
  padding: 5px;
  
  color: $label-element-color;
  font-size: 1rem;
  text-align: center;
  white-space: nowrap;
  
  cursor: grab;
  border: 3px solid transparent;
  
  &:focus {
    outline: none;
  }

  .srd-node--selected & {
    border-color: $selected-element-border-color;
    border-radius: 3px;
  }
}
